name: Node.js CI

on:
  push:
    branches: [ next, 2.x ]
  pull_request:
    branches: [ next, 2.x ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis (SonarCloud)
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: |
          npm ci
          npm run build
          xvfb-run --auto-servernum npm test
        shell: bash
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
